<nav class="navbar navbar-expand-lg navbar-light" style="background-image: url('../../assets/bg.jpg'); 
background-repeat: no-repeat;background-size: 100% 100%; padding: 5px;">
 <a class="navbar-brand" href="#" style="font-size: x-large; font-weight: 200; color: rgb(78, 42, 42);">Job Portal</a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" >
          <a routerLinkActive="active" class=" btn btn-outline-dark ml-4" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li> 
        <li class="nav-item" >
          <a routerLinkActive="active" class="btn btn-outline-dark ml-4" routerLink="/search">Search</a>
        </li>
        
        
      </ul>
      <ul class="form-inline my-2 my-lg-0">
        <button class=" btn btn-outline-dark mr-sm-4" routerLinkActive="active" ><a routerLink="/about" style="text-decoration: none; color: inherit;">About</a></button>
        <button class=" btn btn-outline-dark mr-sm-4" routerLinkActive="active" ><a routerLink="/contact" style="text-decoration: none; color: inherit;">Contact</a></button>
        
        <button routerLinkActive="active" (click)="goToProfile()" class="btn btn-outline-dark  my-2 my-sm-0 mr-sm-4" *ngIf="isLoggedIn" ><a  style="text-decoration: none; color: inherit;">Profile</a></button>
        
        <button routerLinkActive="active" class="btn btn-outline-dark  my-2 my-sm-0 mr-sm-4" *ngIf="!isLoggedIn" ><a routerLink="/login" style="text-decoration: none; color: inherit;">Login</a></button>
        <button routerLinkActive="active" (click)="logout()" class="btn btn-outline-dark  my-2 my-sm-0 mr-sm-4" *ngIf="isLoggedIn" ><a routerLink="/login" style="text-decoration: none; color: inherit;">Logout</a></button>
        <button routerLinkActive="active" class="btn btn-outline-dark  my-2 my-sm-0 mr-sm-4"  *ngIf="!isLoggedIn"><a routerLink="/register" style="text-decoration: none; color: inherit;">SignUp</a></button>
        
      </ul>
    </div>
  </nav>





