h4 {
    background-image: url('../../assets/bg14.jpg');
    margin-top: 10px;
    padding: 8px;
    padding-left: 10px;
    text-align: center;
    font-size: xx-large;
}
h5 {
    margin-left: 8px;
}

select {
    width: 250px;
    margin-left: 8px;
}

input {
    width: 250px;
    float: left;
    margin-left: 8px;
    border:3px solid #535050;
    border-radius:4px;
    padding:5px;
}
button {
    padding: 7px;
    padding-top: 2px; 
    border-radius:4px; 
    margin-left: 15px;
    height: 38px; 
    margin-top:1px;
}

table {
    border: 1px solid rgb(30, 15, 230);
    
}

table tr {
    width: auto;

}