<div class="jumbotron">
    <p class="title">Online Recruitment System</p>
    <p class="lead"><b>Welcome to our Portal</b></p>
</div>
    <br>
  
    <h2 style="text-align: center; color: rgb(97, 44, 37);">Browse Popular Companies</h2>
    <br>

<div >
    <div class="col-md-4 company">
        <h3>Capgemini</h3>
        <p style="font-family:Verdana">.Net Full Stack Developer as a Fresher</p>
        <p>Skills Required : Core knowledge of .Net, C#, Angular, JavaScript, Html and CSS </p>
        <p style="text-align:center; margin-top:45px"><a routerLink="/search" class="btn btn-danger">Visit &raquo;</a></p>
    </div>
    <div class="col-md-4 company">
        <h3>Accenture</h3>
        <p style="font-family:Verdana">Java Developer as a Fresher</p>
        <p>Skills Required : Core knowledge of Java, Angular, Html, CSS, JQuery  and Bootstrap </p>
        <p style="text-align:center; margin-top:45px"><a routerLink="/search" class="btn btn-danger">Visit &raquo;</a></p>
    </div>
    <div class="col-md-4 company">
        <h3>TCS</h3>
        <p style="font-family:Verdana">Python full stack Developer</p>
        <p>Skills Required : Core knowledge of Python, JavaScript, PHP and konwledge of Machine Learning </p>
        <p style="text-align:center; margin-top:45px"><a routerLink="/search" class="btn btn-danger">Visit &raquo;</a></p>
    </div>
</div>